
body{
    margin:60px auto;
    max-width: 1200px;
} 

.inner-container {
    position: relative;
    width: 80%;
    height: 425px;
    background-color:blue;
    margin: 2em 7.5em;    
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.inline-block {
    display: inline-block;
}

.list-style {
    list-style: none;
}

.uppercase {
    text-transform: uppercase;
}

.primary-color {
    color: orangered;
}

.text-align-right {
    text-align: right;
}

    /*navigation*/

.navigation {
    padding-bottom: 5em;
}

.nav-bar {
    padding: 0 .75em;
    border-bottom: 3px solid orangered;
    padding-bottom: .50em;
    
}

.logo {
    border: 2px black solid;
    width: 7em;
    text-align: center;
    font-size: 20px;
    padding: .35em;
    margin-top: -.25em;
}

/*Description*/

.photo {
    width:20em;
    height: auto;
    padding-top: 0em;
}

.about {
    font-size: 4em;
    width: 13em;
    margin-top: -90px;
    margin-left: 3.8em;
}

 .located {
    font-size: 1.25em;
    margin-top: -40px;
    margin-left: 13.25em;
 }

 /*Introduction*/

.intro-left {
    margin-top: 7em;
    margin-left: 18em; 
    float: left;
}

 .hello {
    font-size:4em;
    font-weight: lighter;
 }

 .details {
     margin-top: 2em;
 }

 .box {
     width: 40%;
     height: 300px;
     border: 2px black solid;
     margin-top: 3.5em;
     margin-right: 5em;
     background-color: white;
 }

 /*Experience*/

 .contain {
    max-width: 40%;
    display: inline-block;
    height: 200px;
    padding: 40px;
    margin-top: -45px;
}